@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Raleway';
  font-feature-settings: 'ss02' on, 'ss01' on;
  -webkit-font-smoothing: antialiased;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5cb4f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(27, 32, 49);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 24, 39);
}
